# {{ ansible_managed }}
# Cilium-native LoadBalancer
---
apiVersion: cilium.io/v2
kind: CiliumLoadBalancerIPPool
metadata:
  name: lab-pool
spec:
  blocks:
    - start: "{{ load_balancer_ip_start }}"
      stop: "{{ load_balancer_ip_end }}"
---
apiVersion: cilium.io/v2alpha1
kind: CiliumL2AnnouncementPolicy
metadata:
  name: lab-l2
spec:
  # Restrict gARP to the physical NIC.
  interfaces:
    - {{ l2_announcement_interface_regex }}
  loadBalancerIPs: true
  externalIPs: true
  nodeSelector:
    matchExpressions:
      - key: node-role.kubernetes.io/control-plane
        operator: DoesNotExist
