# {{ ansible_managed }}
#
# File-based discovery for kubeadm join. Contains only the cluster CA and
# endpoint. Needed because the API server runs with anonymous-auth=false.
apiVersion: v1
kind: Config
clusters:
  - name: kubernetes
    cluster:
      certificate-authority-data: {{ hostvars[groups['control'][0]]['kubeadm_ca_cert_b64'] }}
      server: https://{{ control_plane_endpoint }}:6443
contexts:
  - name: discovery
    context:
      cluster: kubernetes
      user: discovery
current-context: discovery
preferences: {}
users:
  - name: discovery
    user: {}
