# {{ ansible_managed }}

# Password Authentication
PubKeyAuthentication yes
{% if ssh_disable_password_auth %}
PasswordAuthentication no
KbdInteractiveAuthentication no
{% endif %}
PermitRootLogin {{ 'yes' if ssh_permit_root_login | bool else 'no' }}
PermitEmptyPasswords no
